.app {
  text-align: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  
}

.empty {
  border: 1px solid rgb(224, 224, 224);
  background-color: white;
}

.start {
  border: 1px solid rgb(224, 224, 224);
  background-color: green;
}

.target {
  border: 1px solid rgb(224, 224, 224);
  background-color: red;
}

.visited {
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(211, 252, 209);
}

.path {
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(255, 243, 131);
}

.weight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(232, 247, 254);
  background-color: rgb(232, 247, 254);
}

.weightPath {
  background-color: rgb(255, 243, 131);
}

.wall {
  border: 1px solid rgb(237, 237, 237);
  background-color: rgb(237, 237, 237);
}

.obstacle {
  background-color: white;
}
