.app {
  text-align: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
}

.empty {
  background-color: white;
}

.obstacle {
  background-color: gray;
}

.start {
  background-color: green;
}

.target {
  background-color: red;
}